@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Slabo+27px&display=swap");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: darkcyan;
}

body {
  /* background: url(webb.png); */
  font-family: 'Slabo 27px', serif;
}

h4 {
  font-family: 'Abril Fatface', cursive;
}
h5 {
  font-family: 'Abril Fatface', cursive;
}

.card-body {
  background-color: white;
}

.contact {
  background-color: white;
}

.index-row {
  background-color: white;
}

.aboutmecontainer {
  flex-wrap: wrap;
}

footer {
  font-family: 'Abril Fatface', cursive;
  background-color: darkcyan;
  border-top: 5px solid #059DC0;
}